accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
anywidget
asttokens
attrs
bbox_visualizer
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
Cython
debugpy
decorator
defusedxml
distro
einops
exceptiongroup
executing
fairscale
filelock
filetype
fonttools
frozenlist
fsspec
ftfy
gitdb
GitPython
greenlet
grpcio
grpcio-tools
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_bbox_widget
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
langchain-core
langchain-openai
langchain-qdrant
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langgraph-supervisor
langsmith
MarkupSafe
matplotlib
matplotlib-inline
mpmath
multidict
narwhals
nest_asyncio
networkx
ninja
numpy
open_clip_torch
openai
opencv-python
opencv-python-headless
orjson
ormsgpack
packaging
pandas
parso
peft
pi_heif
pickleshare
pillow
pillow-avif-plugin
platformdirs
polars
polars-runtime-32
polygraphy
portalocker
prompt_toolkit
propcache
protobuf
psutil
psygnal
pure_eval
pyarrow
pycocotools
pydantic
pydantic_core
pydeck
Pygments
pylabel
pyparsing
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
qdrant-client
referencing
regex
requests
requests-toolbelt
rf100vl
rfdetr
roboflow
rpds-py
safetensors
scikit-learn
scipy
setuptools
six
smmap
sniffio
SQLAlchemy
stack_data
streamlit
supervision
sympy
tenacity
threadpoolctl
tiktoken
timm
tokenizers
toml
torch
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
typing-inspection
tzdata
ultralytics
ultralytics-thop
urllib3
watchdog
wcwidth
wheel
widgetsnbextension
xxhash
yarl
zipp
zstandard
